<h1>solid steel broadcast: part <%= @mix.part %></h1>

<h2>Mix name: <%= @mix.name %></h2>
<h3>Tracklisting:</h3>
(<%= @mix.broadcast.session_name %>)
<ul id="tracklist">
<% @mix.tracks.each do |t| %>
	<li class="track"><%= t.title %></li>
<% end %>
</ul>