<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-broadcasts"><%= link_to "Broadcasts", casein_broadcasts_path %></li>
<li id="tab-mixes"><%= link_to "Mixes", casein_mixes_path %></li>
<li id="tab-tracks"><%= link_to "Tracks", casein_tracks_path %></li>

