<h1>solid steel homepage</h1>

<div class="latest-mix">
	<h2><%= @broadcast.session_name %></h2>
	<% @broadcast.mixes.each do |part| %>
		<li class="part"><%= part.name %></li>
	<% end %>
</div>

<ul>
	<li><%= link_to "all broadcasts", broadcasts_path %></li>
</ul>